.centertext {
    color: whitesmoke;
    font-size: 40px;
}

.kollazstext {
    color: whitesmoke;
    font-size: 20px;
}

.link
{
    color:blue;
    font-size: 20px;
}

.kepfeladatcentertext{
    
    color: whitesmoke;
    font-size: 40px;

}